@model IEnumerable<WebApplication1.Models.Coordinate>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Coordinates</h1>

<p>
    <a asp-action="Create">Create Coordinate</a>
</p>
<table class="table bg-transparent text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
